.infoBar1 {
    display: flex;
    justify-content: space-between;
    background: #635e8d;
    border-radius: 20px 20px 20px 20px;
    height: 400px;
    padding: 2%;
    text-align: center;
    width: 60%;
  }
  
  .leftInnerContainer1 {
    color: white;
    text-align: right;
    margin-top: 10%;
    width: 30%;
   
  }
  
  
  .middle{
      width: 30%;
      height: 80%;
      margin-top: 7%;
      background-color:  #8f89c4;
      color: rgb(39, 39, 58);
      padding: 2%;
      border-radius: 20px 20px 20px 20px;

  }
  .outer{
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
      background-color:  #b4adf0;
  }
 